*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1520px;
}

.ikon i {
  background-color: #2E82FD;
  color: white;
  font-size: 50px;
  padding: 6px;
  border-radius: 6px;

}
col {
  overflow: hidden;
}
h2 {
  padding: 7px;
}

/* .ikon {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.fa-solid .fa-message {
  color: #2E82FD;
  font-size: 30px;

}

.ikon2 i {
  font-size: 50px;
  padding: 6px;
  color: #2E82FD;
}