/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 72px;
  font-weight: 800;
  color: #fff;
  line-height: 80px;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font-size: 56px;
  font-weight: 800;
  color: #391400;
}
@media (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 40px;
  color: #391400;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
  color: #EF6D58;
}

#orange-banner .container .orange-banner .orange-banner-content .contact-us, #home-page #orange-banner .container .orange-banner .orange-banner-content .contact-us, #home-page #hero-banner .hero-banner .hero-banner-content .btns .contact-us, header .header .contact {
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  padding: 1rem 2rem;
  border-radius: 6px;
  border: 1px solid rgb(103, 104, 119);
  cursor: pointer;
  transition: 0.3s;
}
#orange-banner .container .orange-banner .orange-banner-content .contact-us:hover, #home-page #orange-banner .container .orange-banner .orange-banner-content .contact-us:hover, #home-page #hero-banner .hero-banner .hero-banner-content .btns .contact-us:hover, header .header .contact:hover {
  background-color: rgb(103, 104, 119);
}

#home-page #hero-banner .hero-banner .hero-banner-content .btns .how-we-work {
  background-color: #ef6d58;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}
#home-page #hero-banner .hero-banner .hero-banner-content .btns .how-we-work:hover {
  background-color: transparent;
  color: #ef6d58;
  border: 1px solid #ef6d58;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-foot {
  display: flex;
  flex-wrap: wrap;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
  padding: 1rem;
}

.col-2 {
  width: 16.6666666667%;
  padding: 1rem;
}

.col-3 {
  width: 25%;
  padding: 1rem;
}

.col-4 {
  width: 33.3333333333%;
  padding: 1rem;
}

.col-5 {
  width: 41.6666666667%;
  padding: 1rem;
}

.col-6 {
  width: 50%;
  padding: 1rem;
}

.col-7 {
  width: 58.3333333333%;
  padding: 1rem;
}

.col-8 {
  width: 66.6666666667%;
  padding: 1rem;
}

.col-9 {
  width: 75%;
  padding: 1rem;
}

.col-10 {
  width: 83.3333333333%;
  padding: 1rem;
}

.col-11 {
  width: 91.6666666667%;
  padding: 1rem;
}

.col-12 {
  width: 100%;
  padding: 1rem;
}

.p-left-0 {
  padding-left: 0;
}

/* .box {
      background-color: orange;
      border: 2px solid;
      } */
@media only screen and (max-width: 1023px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-md-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-md-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-md-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-md-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-md-left-0 {
    padding-left: 0;
  }
  .p-md-right-0 {
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-sm-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-sm-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-sm-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-sm-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-sm-left-0 {
    padding-left: 0;
  }
  .p-sm-right-0 {
    padding-right: 0;
  }
}
header {
  background-color: rgb(40, 41, 62);
}
header .header {
  padding: 8px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
@media (max-width: 767px) {
  header .header nav {
    display: none;
  }
}
header .header nav ul {
  display: flex;
  gap: 2rem;
}
header .header nav ul li a {
  color: #fff;
  font-size: 1rem;
}
header .header .menu {
  display: none;
}
@media (max-width: 767px) {
  header .header .menu {
    display: block;
  }
}
header .header .menu img {
  cursor: pointer;
}

footer {
  background-color: rgb(253, 240, 233);
}
footer .footer {
  padding: 50px 0;
}
footer .footer h4 {
  font-weight: 700px;
}
footer .footer .menu-service {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .footer .menu-service .menu h5 {
  padding-bottom: 10px;
}
footer .footer .menu-service .menu ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer .menu-service .menu ul li a {
  color: #391400;
}
footer .footer .menu-service .service h5 {
  padding-bottom: 10px;
}
footer .footer .menu-service .service ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer .menu-service .service ul li a {
  color: #391400;
}
footer .footer .menu-service .icons i {
  background-color: #ef6d58;
  padding: 8px;
  border-radius: 50%;
  color: #fff;
}

#home-page #hero-banner {
  background-color: rgb(40, 41, 62);
  padding: 3rem 0;
}
#home-page #hero-banner .hero-banner {
  display: flex;
  flex-direction: row;
}
@media (max-width: 767px) {
  #home-page #hero-banner .hero-banner {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  #home-page #hero-banner .hero-banner .hero-banner-img {
    width: 50%;
    order: -1;
  }
}
#home-page #hero-banner .hero-banner .hero-banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 30px 60px;
}
#home-page #hero-banner .hero-banner .hero-banner-content h5 {
  text-transform: uppercase;
}
#home-page #hero-banner .hero-banner .hero-banner-content h1 {
  position: relative;
  z-index: 1;
  max-width: 513px;
}
#home-page #hero-banner .hero-banner .hero-banner-content p {
  width: 570px;
  color: rgba(255, 255, 255, 0.64);
  line-height: 2rem;
}
#home-page #hero-banner .hero-banner .hero-banner-content .btns .contact-us {
  border: 1px solid transparent;
}
#home-page #hero-banner .hero-banner .hero-banner-content .star {
  position: absolute;
  top: 0;
  right: 20%;
}
#home-page #hero-banner .hero-banner .hero-banner-content .feedback {
  display: flex;
  column-gap: 1rem;
}
#home-page #hero-banner .hero-banner .hero-banner-content .feedback span {
  color: #fff;
}
#home-page #hero-banner .hero-banner .hero-banner-img img {
  width: 100%;
}
#home-page #orange-banner {
  background-color: #ef6d58;
}
#home-page #orange-banner .container .orange-banner {
  display: flex;
  flex-direction: row;
}
@media (max-width: 767px) {
  #home-page #orange-banner .container .orange-banner {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  #home-page #orange-banner .container .orange-banner .orange-banner-img {
    width: 50%;
    order: -1;
  }
}
#home-page #orange-banner .container .orange-banner .orange-banner-img {
  width: 50%;
}
#home-page #orange-banner .container .orange-banner .orange-banner-img img {
  width: 100%;
}
#home-page #orange-banner .container .orange-banner .orange-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding: 150px 50px;
}
#home-page #orange-banner .container .orange-banner .orange-banner-content h2 {
  color: #fff;
  text-align: center;
}
#home-page #orange-banner .container .orange-banner .orange-banner-content p {
  color: rgba(255, 255, 255, 0.64);
  text-align: center;
}
#home-page #partners {
  display: flex;
  background-color: rgb(253, 240, 233);
  padding: 3rem 0;
}
#home-page #partners .partners {
  column-gap: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
@media (max-width: 767px) {
  #home-page #partners .partners {
    justify-content: center;
  }
}

#portfolio {
  background-color: rgb(40, 41, 62);
  padding: 100px 0;
}
#portfolio h1 {
  text-align: center;
}
#portfolio p {
  text-align: center;
  color: #fff;
  padding: 10px;
}

#grid {
  background-color: rgb(253, 240, 233);
}
#grid nav {
  justify-content: center;
  display: flex;
  padding: 60px 0;
}
#grid nav ul {
  display: flex;
  gap: 30px;
}
#grid nav ul li a {
  color: #391400;
  text-align: center;
}

#photos {
  background-color: rgb(253, 240, 233);
}
#blogarticles {
  background-color: rgb(40, 41, 62);
  padding: 100px 0;
}
#blogarticles h1 {
  text-align: center;
}
#blogarticles p {
  text-align: center;
  color: #fff;
  padding: 10px;
}

#sec2 {
  background-color: rgb(253, 240, 233);
}
#sec2 .container .row .col-6 .card h3 {
  font-size: 30px;
  width: 450px;
}
#sec2 .container .row .col-6 .card .date {
  opacity: 65%;
}
#sec2 .container .row .col-6 .card p {
  padding: 15px 0;
}
#sec2 .container .row .col-6 .card img {
  width: 100%;
}

#sec3 {
  background-color: rgb(253, 240, 233);
}
#sec3 .container .row .col-4 .card h3 {
  font-size: 20px;
  width: 350px;
  font-weight: 700;
}
#sec3 .container .row .col-4 .card .date {
  opacity: 65%;
}
#sec3 .container .row .col-4 .card p {
  padding: 15px 0;
}
#sec3 .container .row .col-4 .card img {
  width: 100%;
}
#sec3 .container .row .col-4 .card img {
  width: 100%;
}

#sec4 {
  background-color: rgb(253, 240, 233);
  padding: 40px 0;
}
#sec4 .container {
  display: flex;
  justify-content: space-between;
}
#sec4 .container h3 {
  font-weight: 700;
}
#sec4 .container input {
  background-color: #fff;
  color: #391400;
  width: 370px;
  height: 48px;
  border: none;
  padding: 0 10px;
}
#sec4 .container button {
  padding: 8px 20px;
  background-color: #fff;
  color: #391400;
  font-weight: 700;
  border-radius: 6px;
  border: none;
}

#orange-banner {
  background-color: #ef6d58;
}
#orange-banner .container .orange-banner {
  display: flex;
  flex-direction: row;
}
@media (max-width: 767px) {
  #orange-banner .container .orange-banner {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  #orange-banner .container .orange-banner .orange-banner-img {
    width: 50%;
    order: -1;
  }
}
#orange-banner .container .orange-banner .orange-banner-img {
  width: 50%;
}
#orange-banner .container .orange-banner .orange-banner-img img {
  width: 100%;
}
#orange-banner .container .orange-banner .orange-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding: 150px 50px;
}
#orange-banner .container .orange-banner .orange-banner-content h2 {
  color: #fff;
  text-align: center;
}
#orange-banner .container .orange-banner .orange-banner-content p {
  color: rgba(255, 255, 255, 0.64);
  text-align: center;
}

#partners {
  display: flex;
  background-color: rgb(253, 240, 233);
  padding: 3rem 0;
}
#partners .partners {
  column-gap: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
@media (max-width: 767px) {
  #partners .partners {
    justify-content: center;
  }
}